<!DOCTYPE html>
<html lang="en">
<head>
  <title>Buy The Books</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>In Stock</th>
    </tr>
    </thead>
    <tbody>

    <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.price || '$400' %></td>
          <% if book.no_of_copies >0 %>
              <td>Available</td>
              <td>
                  <a class="btn btn-success" target="_blank" href = "<%= new_order_path(book_id: book.id) %>">BUY NOW</a>
              </td>
          <% else %>
              <td>Not Available</td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
